absl-py==1.0.0
appnope==0.1.2
arch==4.19
argon2-cffi==20.1.0
async-generator==1.10
attrs==21.2.0
backcall==0.2.0
bleach==3.3.1
cachetools==4.2.4
certifi==2016.9.26
cffi @ file:///opt/concourse/worker/volumes/live/6ed3f91b-28f6-4d58-6a9b-7a5e864c6554/volume/cffi_1625814710543/work
charset-normalizer==2.0.3
cmdstanpy==0.4.0
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1602866480661/work
convertdate==2.3.2
Counter==1.0.0
cycler==0.10.0
Cython==0.29.17
darts==0.6.1
dataclasses @ file:///home/conda/feedstock_root/build_artifacts/dataclasses_1628958435052/work
decorator==4.4.2
defusedxml==0.7.1
entrypoints==0.3
ephem==4.1.3
fbprophet==0.6
future @ file:///Users/runner/miniforge3/conda-bld/future_1610147211348/work
google-auth==1.35.0
google-auth-oauthlib==0.4.6
googledrivedownloader @ file:///home/conda/feedstock_root/build_artifacts/googledrivedownloader_1619807768586/work
grpcio==1.43.0
hijri-converter==2.2.2
holidays==0.10.2
idna==3.2
imbalanced-learn==0.8.1
imblearn==0.0
importlib-metadata==4.6.1
ipykernel==5.5.5
ipython==7.15.0
ipython-genutils==0.2.0
ipywidgets==7.6.3
jedi==0.18.0
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1636510082894/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1633637554808/work
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.12
jupyter-console==6.4.0
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
kaleido==0.2.1
kiwisolver==1.3.1
korean-lunar-calendar==0.2.1
llvmlite==0.36.0
LunarCalendar==0.0.9
lxml==4.6.3
Markdown==3.3.6
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1621455726881/work
matplotlib==3.2.2
mistune==0.8.4
multitasking==0.0.9
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.1
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1617499744980/work
notebook==6.4.0
numba==0.53.1
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1626681957552/work
oauthlib==3.1.1
packaging==21.0
pandas==1.1.5
pandocfilters==1.4.3
parso==0.8.2
patsy==0.5.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.3.1
plotly==5.1.0
pmdarima==1.6.1
prometheus-client==0.11.0
prompt-toolkit==3.0.19
property-cached==1.6.4
prophet==1.0.1
protobuf==3.19.1
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
Pygments==2.9.0
PyMeeus==0.5.11
pymongo==4.0
pynndescent==0.5.4
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1636757021002/work
pyrsistent==0.18.0
pystan==2.19.1.1
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
python-igraph==0.9.6
python-louvain @ file:///home/conda/feedstock_root/build_artifacts/python-louvain_1609125227889/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1633452062248/work
PyYAML==5.4.1
pyzmq==22.1.0
qtconsole==5.1.1
QtPy==1.9.0
requests==2.26.0
requests-oauthlib==1.3.0
rsa==4.8
scikit-learn==0.24.2
scipy @ file:///Users/runner/miniforge3/conda-bld/scipy_1629411671650/work
seaborn==0.11.2
Send2Trash==1.7.1
setuptools-git==1.2
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
statsmodels==0.11.1
tenacity==8.0.1
tensorboard==2.4.0
tensorboard-plugin-wit==1.8.0
terminado==0.10.1
testpath==0.5.0
texttable==1.6.4
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1633102299089/work
torch @ file:///Users/runner/miniforge3/conda-bld/pytorch-recipe_1629200522018/work
torch-cluster @ file:///usr/local/miniconda/envs/test/conda-bld/pytorch-cluster_1631019436465/work
torch-geometric @ file:///usr/local/miniconda/envs/test/conda-bld/pyg_1640156021563/work
torch-scatter @ file:///usr/local/miniconda/envs/test/conda-bld/pytorch-scatter_1634897454682/work
torch-sparse @ file:///usr/local/miniconda/envs/test/conda-bld/pytorch-sparse_1631173057874/work
torch-spline-conv @ file:///usr/local/miniconda/envs/test/conda-bld/pytorch-spline-conv_1631007435517/work
torchaudio==0.9.0
torchvision==0.10.0
tornado==6.1
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1632160078689/work
traitlets==4.3.3
typing-extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1638334978229/work
ujson==4.3.0
umap-learn==0.5.1
urllib3==1.26.6
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.0.2
widgetsnbextension==3.5.1
yacs==0.1.6
yfinance==0.1.63
zipp==3.5.0
